<h3 class="text-position">{{structureType | titlecase}} Search Results</h3>
<!-- <h4>Drugs for Glaucoma Treatment</h4> -->
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-bordered" >
  <tr>
    <th>Structure</th>
    <th>Database Id</th>
    <!--<th>pChembl value</th>-->
    <!-- <th>Formula</th> -->
    <th>Mol Weight</th>
    <th>alogp</th>
    <th>HBA</th>
    <th>HBD</th>
    <th>RTB</th>
    <th>PSA</th>
  </tr>
  <tr *ngFor='let ar of images'>
    <td> 
      <!-- <a  [routerLink]="['/target/'+ar.target_id]" routerLinkActive="router-link-active">{{ar.target_id}}</a> -->
      <app-jsme [elementId]="ar?.np_id"
                [width]="'100px'"
                [height]="'100px'"
                [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
                [molString]="ar?.canonical_smiles"
      >
      </app-jsme>
    </td>
    <td>
        <ng-container>
           {{ar?.np_id}}
          </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.MW}}
           </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.Alogp}}
           </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.HBA}}
           </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.HBD}}
           </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.ROTB}}
           </ng-container>
    </td>
    <td>
        <ng-container>
            {{ar?.PSA}}
           </ng-container>
    </td>
  </tr>
</table>
<div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--11-col">
        <mat-paginator [length]="num"
                       [pageSize]="num"
                       [pageSizeOptions]="[10]"
                       (page)="pageChanges($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
