<h5>Compound Properties</h5>
<div class="mdl-grid" >
    <div class="mdl-cell mdl-cell--4-col"  >
        <app-jsme [elementId]="'drug-detail'"
        [width]="'250px'"
        [height]="'220px'"
        [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
        [molString]="arr1?.canonical_smiles"
></app-jsme>
</div>
<div class="mdl-cell mdl-cell--8-col"  >
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th >synonyms</th>
    <th class="mdl-data-table__cell--non-numeric wrap">
        <div title="{{arr1?.synonyms}}">{{arr1?.synonyms}}</div>
    </th>
  </tr>
  <!-- <tr>
    <th>Smiles</th>
    <td class="mdl-data-table__cell--non-numeric">{{moleculeStructure?.canonical_smiles}}</td>
  </tr> -->
  <!-- <tr>
    <th>{{arr2?.db_source}}</th>
    <td class="mdl-data-table__cell--non-numeric">
      <a href="{{arr2?.src_compound_url}}" target="_blank"> 
      {{arr2?.src_compound_id}}</a></td>
  </tr> -->
  <tr>
    <th>Mol Weight</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.MW}}</td>
  </tr>
  <tr>
    <th>AlogP</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.ALOGP}}</td>
  </tr>
  <tr>
    <th>HBD</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.HBD}}</td>
  </tr>
  <tr>
    <th>HBA</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.HBA}}</td>
  </tr>
  <tr>
    <th>PSA</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.PSA}}</td>
  </tr>
  <tr>
    <th>RTB</th>
    <td class="mdl-data-table__cell--non-numeric">{{arr1?.ROTB}}</td>
  </tr>
  <tr>
    <!-- <th>Targets</th>
    <td class="mdl-data-table__cell--non-numeric">
      <button mat-button color="primary" (click)="goTargetList(); close()">
        {{pageMeta?.total_results}}
      </button>
    </td> -->
  </tr>
</table>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>