
<div class='title'><h4>The following Derivatives are reported to interact with {{namet}} </h4></div>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp table-bordered"  >
    
  <tr>
    <th>Derivatives</th>
    <th>Bioactivites Type</th>
    <!--<th>pChembl value</th>-->
    <th>Bioactivites Value</th>
    <th>Assay Id</th>
    <th>Doc Id</th>
  </tr>
  <tr *ngFor='let ar of arr'  >
    <td> 
      <!-- <ng-container> 
      <app-jsme [elementId]="'ar.database_id'"
              [width]="'100px'"
              [height]="'100px'"
              [option]="'depict nozoom noshowdraganddropsymbolindepictmode'"
              [molString]="arro[0].canonical_smiles"
    ></app-jsme>
      
    </ng-container> -->
    <button mat-button color="primary" (click)="openMoleculePropertiesDialog(ar.der_id)">
        {{ar.der_id}}
      </button>
    <!-- <a  [routerLink]="['/compound/'+ar.database_id]" routerLinkActive="router-link-active">{{ar.database_id}}</a> -->
    </td>
    <td>
      <ng-container>
          <p>{{ar?.activity_type}}&nbsp;&nbsp;&nbsp;</p>
        </ng-container>
  </td>
  <td>
  <ng-container >
      <p>{{ar?.der_activity_value}}
        <!-- <a href="https://doi.org/{{ar?.doc_doi}}" target="_blank">{{ar?.reference}}</a> -->
          <!-- <button mat-button color="primary" (click)="openDocDialog(mole?.id)">(Detail)</button> -->
      </p>
    </ng-container>
  </td>
  <td>
    <ng-container>
        <p><a href="{{ar?.assay_url}}" target="_blank">{{ar?.assay_id}}</a>&nbsp;&nbsp;&nbsp;</p>
      </ng-container>
</td>
<td>
  <ng-container>
      <p><a href="https://www.ebi.ac.uk/chembl/document_report_card/{{ar?.doc_id}}" target="_blank">
        {{ar?.doc_id}}  </a>&nbsp;&nbsp;&nbsp;</p>
    </ng-container>
</td>
  </tr>
</table>
<div>
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--3-col">
      </div>
      <div class="mdl-cell mdl-cell--5-col">
        <mat-paginator [length]="pageMeta?.total_results"
                       [pageSize]="pageMeta?.per_page"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
