.table{
    width:50%;
    float:left;
}
.jsme{
    float:right;
    margin-right: 100px;
}
h2{
    text-align:center;
}
table{
    width:100%;
    table-layout: fixed; 
}
a{
  text-decoration:none
}
.m
.mdl-data-table{
    white-space: normal;
    width: 100%;
  }
  
  .th-width {
    width: 120px;
  }
  .mat-elevation-z8{
    border:1px;
    box-shadow:none;
  }
  .demo-chart{
    width:500px;
  }
  tr:hover{
    background-color:rgb(228, 224, 224);
  }
  .mat-header-row:hover{
    background-color:rgb(255, 255, 255);
  }