.smile-container {
    width: 95%;
    height: 150px;
    float: right;
    margin-bottom: 0.5cm;
  } 
  .content-center {
    height: 240px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  h2{
    text-align: center;
  }
  .col-md-2{
    margin-top:50px;
  }
  h5{
      margin-top:10px;
  }
  .text-position{
    text-align: center;
  }
  .mat-form-field{
    margin-top:-10px;
    margin-left:20px;
  }
  .upload{
    margin-left:20px;
  }