<div class='zhongjian'>
  <div class='zhongbu'>     
    <div class="row">
      <!-- <input type="button" value="进入1" onClick = "downloadFile('http://192.168.1.138:9003/download/?pk=NPChemInfo')"> -->
      
    </div>
  </div>
</div>
<a href="http://192.168.1.138:9003/download/?pk=NPChemInfo" class='down' download="文件名.csv"><h5>Click on the download</h5></a> 
<!-- <button type="button" (click)="download()">下載</button> --> 
<div  class = 'example-container mat-elevation-z8' > 
<table mat-table [dataSource]="images" 
matSort
matSortActive="Target Id"
matSortDirection="desc"
class="mat-elevation-z8">
  <ng-container matColumnDef="Pref Name" >
    <th mat-header-cell *matHeaderCellDef> Pref Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="Target Id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Id </th>
    <td mat-cell *matCellDef="let element">
    <a  [routerLink]="['/target/'+element.tid]" target="_blank" routerLinkActive="router-link-active">{{element.tid}}</a> </td>
  </ng-container>
  <ng-container matColumnDef="Target Type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
  <!-- <ng-container matColumnDef="Target Class">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Class </th>
    <td mat-cell *matCellDef="let element"> {{element.target_class}} </td>
  </ng-container> -->
  <ng-container matColumnDef="Organism">
    <th mat-header-cell *matHeaderCellDef> Organism</th>
    <td mat-cell *matCellDef="let element"> {{element.organism}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="mdl-cell mdl-cell--12-col">
  <mat-paginator [length]="total_results"
                 [pageSize]="10"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChange($event)"
  >
  </mat-paginator>
</div>




