<h5>Target Properties</h5>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
  <tr>
    <th>Target Name</th>
    <th class="mdl-data-table__cell--non-numeric">
        {{targetinf?.name}}
    </th>
  </tr>
  <tr>
    <th>Uniprot Id</th>
    <td class="mdl-data-table__cell--non-numeric">{{targetinf?.uniprot_id}}</td>
  </tr>
  <tr>
    <th>Gene</th>
    <td class="mdl-data-table__cell--non-numeric">{{targetinf?.gene}}</td>
  </tr>
  <tr>
    <th>Target Class</th>
    <td class="mdl-data-table__cell--non-numeric">{{targetinf?.target_class}}</td>
  </tr>
  <tr>
    <th>Organism</th>
    <td class="mdl-data-table__cell--non-numeric">{{targetinf?.organism}}</td>
  </tr>
  <tr>
    <th>Target Type</th>
    <td class="mdl-data-table__cell--non-numeric">{{targetinf?.type}}</td>
  </tr>
</table>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>
