.table{
    width:50%;
    float:left;
}
.jsme{
    float:right;
    margin-right: 100px;
}
h2{
    text-align:center;
}
table {
  width: 100%;
table-layout: fixed; 

}
a{
  text-decoration:none
}
.mdl-data-table{
    white-space: normal;
    width: 100%;
  }
  
  .th-width {
    width: 120px;
  }
  .mat-elevation-z8{
    border:1px;
    box-shadow:none;
  }
  .demo-chart{
    width:500px;
  }
  .ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #f5f5f5 !important;
    color: rgb(165, 128, 79);
    cursor:pointer!important;
  }
  tr:hover{
    background-color:rgb(228, 224, 224);
  }
  .mat-header-row:hover{
    background-color:rgb(255, 255, 255);
  }
/* .wrap{
  width: 670px; 
  overflow-x: scroll;
} */
/* .mdl-data-table{
  width:1024px;
  overflow: scroll;
} */